
<f:layout name="Default" />

<f:section name="main">
<f:if condition="{store}">
  <h1>{f:translate(key: 'title.store_hours')}</h1>
  <h2>{store.title}</h2>

  {store.openingHours -> f:format.html()}

  <f:if condition="{store.open}">
    <f:then>{f:translate(key: 'message.open')}</f:then>
    <f:else>{f:translate(key: 'message.closed')}</f:else>
  </f:if>
</f:if>
</f:section>
